Tradfri Dimmer.json
[{"id":"81c9a71af0651d18","type":"tab","label":"Light Switches","disabled":false,"info":"","env":[{"name":"dimming","value":"false","type":"bool"}]},{"id":"9c3301e68233a6d0","type":"server-events","z":"81c9a71af0651d18","name":"","server":"ca4f37cd.f647f8","version":1,"event_type":"zha_event","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":124.33332824707031,"y":38.666672706604004,"wires":[["1b1696d9f155837c"]]},{"id":"1b1696d9f155837c","type":"switch","z":"81c9a71af0651d18","name":"Select Switch","property":"payload.event.device_ieee","propertyType":"msg","rules":[{"t":"eq","v":"cc:86:ec:ff:fe:d5:ca:cd","vt":"str"},{"t":"eq","v":"cc:86:ec:ff:fe:d8:29:66","vt":"str"},{"t":"eq","v":"58:8e:81:ff:fe:51:78:de","vt":"str"},{"t":"eq","v":"b4:e3:f9:ff:fe:0d:5e:8e","vt":"str"},{"t":"eq","v":"cc:86:ec:ff:fe:f5:c3:75","vt":"str"},{"t":"eq","v":"b4:e3:f9:ff:fe:07:3c:0f","vt":"str"},{"t":"eq","v":"5c:02:72:ff:fe:3c:3a:fc","vt":"str"}],"checkall":"true","repair":false,"outputs":7,"x":171.66666412353516,"y":299.3333320617676,"wires":[["65ab1b25619ad66a"],["9b152a30de59d0a0"],["af7dfca8425d91ec"],["df723e2818ef5ca9"],["53ded241860c237f"],["d0fe0401fd787afb"],["99e41b5e85288dcd"]]},{"id":"65ab1b25619ad66a","type":"change","z":"81c9a71af0651d18","name":"Desk Lamp","rules":[{"t":"set","p":"payload.light","pt":"msg","to":"light.desk_lamp","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":487,"y":207,"wires":[["f109003e6a1f94c8"]]},{"id":"713576c11a06704d","type":"api-call-service","z":"81c9a71af0651d18","name":"Turn off","server":"ca4f37cd.f647f8","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["{{payload.light}}"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1050.666706085205,"y":166.6666612625122,"wires":[[]],"icon":"font-awesome/fa-lightbulb-o"},{"id":"f109003e6a1f94c8","type":"switch","z":"81c9a71af0651d18","name":"","property":"payload.event.command","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"move_with_on_off","vt":"str"},{"t":"eq","v":"move","vt":"str"},{"t":"eq","v":"stop_with_on_off","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":791.3332939147949,"y":302.66669845581055,"wires":[["713576c11a06704d"],["d5473bb01845bf59"],["38b4eae4098da007","2e207be4700745ca"],["38b4eae4098da007","9e16c8997574fb78"],["63bb8f69dbf895a7"]]},{"id":"d5473bb01845bf59","type":"api-call-service","z":"81c9a71af0651d18","name":"Turn On","server":"ca4f37cd.f647f8","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["{{payload.light}}"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1050.666706085205,"y":226.6666612625122,"wires":[[]],"icon":"font-awesome/fa-lightbulb-o"},{"id":"38b4eae4098da007","type":"change","z":"81c9a71af0651d18","name":"Button Down","rules":[{"t":"set","p":"press{{msg.payload.light}}","pt":"flow","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1057.666706085205,"y":370.6666612625122,"wires":[[]]},{"id":"63bb8f69dbf895a7","type":"change","z":"81c9a71af0651d18","name":"Button Up","rules":[{"t":"set","p":"press{{msg.payload.light}}","pt":"flow","to":"false","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1046.666706085205,"y":411.6666612625122,"wires":[[]]},{"id":"78f92d32f12a773f","type":"api-call-service","z":"81c9a71af0651d18","name":"Change Brightness","server":"ca4f37cd.f647f8","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["{{payload.light}}"],"data":"{\"brightness_step_pct\":change}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"all","x":1425.666706085205,"y":303.6666612625122,"wires":[["9bb74a43ca4ea51e"]],"icon":"font-awesome/fa-lightbulb-o"},{"id":"454afb0edae51b35","type":"delay","z":"81c9a71af0651d18","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1521.666706085205,"y":422.6666612625122,"wires":[["78f92d32f12a773f"]]},{"id":"9bb74a43ca4ea51e","type":"switch","z":"81c9a71af0651d18","name":"Button Down","property":"press{{msg.payload.light}}","propertyType":"flow","rules":[{"t":"eq","v":"true","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1336.666706085205,"y":422.6666612625122,"wires":[["454afb0edae51b35"]]},{"id":"2e207be4700745ca","type":"change","z":"81c9a71af0651d18","name":"Increase","rules":[{"t":"set","p":"change","pt":"msg","to":"2","tot":"num"},{"t":"set","p":"payload.press","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050.666706085205,"y":286.6666612625122,"wires":[["78f92d32f12a773f"]]},{"id":"9e16c8997574fb78","type":"change","z":"81c9a71af0651d18","name":"Decrease","rules":[{"t":"set","p":"change","pt":"msg","to":"-2","tot":"num"},{"t":"set","p":"payload.press","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050.666706085205,"y":326.6666612625122,"wires":[["78f92d32f12a773f"]]},{"id":"9b152a30de59d0a0","type":"change","z":"81c9a71af0651d18","name":"Master Bedroom Lights","rules":[{"t":"set","p":"payload.light","pt":"msg","to":"light.master_bedroom_lights","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":527,"y":238,"wires":[["f109003e6a1f94c8"]]},{"id":"af7dfca8425d91ec","type":"change","z":"81c9a71af0651d18","name":"Back Door Lights","rules":[{"t":"set","p":"payload.light","pt":"msg","to":"light.back_door_light","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":505.9999885559082,"y":269,"wires":[["f109003e6a1f94c8"]]},{"id":"df723e2818ef5ca9","type":"change","z":"81c9a71af0651d18","name":"Dining Room Lights","rules":[{"t":"set","p":"payload.light","pt":"msg","to":"light.dining_room_lights","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":505.4999885559082,"y":300.33332347869873,"wires":[["f109003e6a1f94c8"]]},{"id":"53ded241860c237f","type":"change","z":"81c9a71af0651d18","name":"Front Alcove Lights","rules":[{"t":"set","p":"payload.light","pt":"msg","to":"light.front_alcove_light","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":505.8333435058594,"y":331.6666669845581,"wires":[["f109003e6a1f94c8"]]},{"id":"d0fe0401fd787afb","type":"change","z":"81c9a71af0651d18","name":"Front Door Light","rules":[{"t":"set","p":"payload.light","pt":"msg","to":"light.front_door_light","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":496.0000114440918,"y":362.3333435058594,"wires":[["f109003e6a1f94c8"]]},{"id":"99e41b5e85288dcd","type":"change","z":"81c9a71af0651d18","name":"Middle Bedroom Light","rules":[{"t":"set","p":"payload.light","pt":"msg","to":"light.middle_bedroom_light","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":515.3333435058594,"y":394,"wires":[["f109003e6a1f94c8"]]},{"id":"ca4f37cd.f647f8","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30}]